In [22]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import json
from PIL import Image 
import pprint
import os

In [23]:

val_data_dir = "../../val_imgs"
val_data_map = "../../val.json"

In [24]:
with open(val_data_map, 'r') as f:
    val_data = json.load(f)

In [25]:
val_df = pd.DataFrame(val_data)
val_df.head()

,caption,product
0,Tanabata Valentine's Day Shenzhen Bao'an M Nan...,O1CN01cSoTwD1spJos7ZSF6_!!0-item_pic.jpg
1,Children's Toys Little Girl over 6 Years Old G...,O1CN01iI5sGv1vIkV5dfICu_!!0-item_pic.jpg
2,sm qing qu Alternative Sex between Men and Wom...,O1CN01xnnyaz248W0n5le2q_!!131027346.jpg
3,Traditional Chinese Painting Burnin' Up Yingke...,O1CN01lfHuuA1D3K2MEM63p_!!160-0-lubanu.jpg
4,lgnace Lee Men's Jeans Thick Section Distresse...,TB23FV3afBNTKJjy0FdXXcPpVXa_!!1944606990.jpg

In [26]:
print("shape of data",val_df.shape)
print("count of missiing values\n",val_df.isna().sum())
print("number of unique labels",len(val_df["caption"].unique()))

shape of data (50000, 2)
count of missiing values
 caption    0
product    0
dtype: int64
number of unique labels 49715

In [27]:
val_df["caption"].value_counts()

Space Aluminum Hanger Adult Incognito yi cheng Clothes Drying Rack for Stainless Steel Non-Slip Hang the Household Drying    4
Natural Agate Cornucopia Crystal Degaussing Small Stone Ornaments Were a Graph Multi-Optional                                3
The Nordic Light Luxury Rocking Chair Recliner Lazy Single Sofa Home wo niu yi Adults Balcony Leisure Chair                  3
Canada Purchasing Vans Old Skool Authentic Van Schaik a Pedal Shoes Casual Shoes for Men and Women                           3
[Spot American jflowers tai qiu gan tong JF Leather Tub 6 Holes Carved Flowers Magic 1/2 Club Bucket                         3
                                                                                                                            ..
Copper Body Basin Faucet Double Hole Washbasin Bathroom Sink Basin of Hot and Cold Water Faucet                              1
U gesswein Allow Stone EDM Series OT Series as the D-Series 2104 2904                                                        1
Buy Solid Rod Home Weight Said Lu gou cheng 20 Aluminum Scale Lu Rod Supplies Aluminum Steelyard Scale Fe Old Laptop         1
bodypops 18 Years 5 Bars Boxed Cotton Underwear BCWP823C62 188 Counter Genuine ~ Quadruple                                   1
M2 SKH51 M35 SKH55 M42 High-Speed Steel Bar fdac Quenched and Tempered Steel round Bar Tool Steel Zero Shear                 1
Name: caption, Length: 49715, dtype: int64

In [28]:
val_df["label"] = val_df.groupby("caption").ngroup()

In [29]:
len(val_df["label"].unique())

49715

In [30]:
val_df.head()

,caption,product,label
0,Tanabata Valentine's Day Shenzhen Bao'an M Nan...,O1CN01cSoTwD1spJos7ZSF6_!!0-item_pic.jpg,32820
1,Children's Toys Little Girl over 6 Years Old G...,O1CN01iI5sGv1vIkV5dfICu_!!0-item_pic.jpg,8326
2,sm qing qu Alternative Sex between Men and Wom...,O1CN01xnnyaz248W0n5le2q_!!131027346.jpg,47598
3,Traditional Chinese Painting Burnin' Up Yingke...,O1CN01lfHuuA1D3K2MEM63p_!!160-0-lubanu.jpg,36608
4,lgnace Lee Men's Jeans Thick Section Distresse...,TB23FV3afBNTKJjy0FdXXcPpVXa_!!1944606990.jpg,45566

In [31]:

val_df.to_csv("../data/val_data_map.csv",index=False)